#message {
    padding: 20px;
    background-color: #7A5ED0;
    font-family: "Arial";
    font-size: '16px';
    color: WHITE;
    text-align: center;
}

#message:before {
    padding: 10px;
    margin-left:20px;
    margin-right: 20px;
    font-family: "Arial";
    font-size: '20px';
    color: WHITE;
    text-align: left;
    content: "Item Selected: ";
}
